* {margin: 0;
padding: 0;
box-sizing: border-box;}


.content:hover {border: unset;}
.menu-active {border-bottom:2px solid rgba(0, 0, 0, 0.2)}

.content:hover {border: unset;}
.menu-active {border-bottom:2px solid rgba(0, 0, 0, 0.2)}

.content:hover {border: unset;}

